nav.navbar{
    font-family:"Teko",sans-serif;
}

/* mat-toolbar, mat-sidenav a{
    font-family:"Teko",sans-serif;
}

mat-sidenav{
    padding:1rem;
    width:12.5rem;
    background:#28b964 !important;
}

mat-sidenav a span.label{
    font-size:1.25rem;
}

mat-sidenav a mat-icon.icon{
    font-size:1rem;
    margin-top:0.375rem;
}

mat-toolbar button{
    border:none;
    background:none;
    color:white;
}

.navigation-items{
    list-style-type:none;
    cursor:pointer;
}

#brand{
    font-size:2.25rem;
}

@media screen and (max-width:599px){
    #brand{
        font-size:2rem;
        margin:0 auto;
    }
} */